$font-1: 0.5rem;
$font-2: 0.625rem;
$font-3: 0.75rem;
$font-4: 0.875rem;
$font-5: 1rem;
$font-6: 1.125rem;
$font-7: 1.25rem;
$font-8: 1.375rem;
$font-9: 1.5rem;
$font-10: 1.625rem;
$font-11: 1.75rem;
$font-12: 1.875rem;
$font-13: 2rem;
$font-14: 2.125rem;
$font-15: 2.25rem;
$font-16: 2.375rem;
$font-17: 2.5rem;
$font-18: 2.625rem;
$font-19: 2.75rem;
$font-20: 2.875rem;
$font-21: 3rem;
$font-22: 3.125rem;
$font-23: 3.25rem;
$font-24: 3.375rem;
$font-25: 3.5rem;
$font-26: 3.625rem;
$font-27: 3.75rem;
$font-28: 3.875rem;
$font-29: 4rem;
$font-30: 4.125rem;
$font-31: 4.25rem;
$font-32: 4.375rem;
$font-33: 4.5rem;
$font-34: 4.625rem;
$font-35: 4.75rem;
$font-36: 4.875rem;
$font-37: 5rem;
$font-38: 5.125rem;
$font-39: 5.25rem;
$font-40: 5.375rem;
$font-41: 5.5rem;
$font-42: 5.625rem;
$font-43: 5.75rem;
$font-44: 5.875rem;
$font-45: 6rem;
$font-46: 6.125rem;
$font-47: 6.25rem;
$font-48: 6.375rem;
$font-49: 6.5rem;
$font-50: 6.625rem;
$font-51: 6.75rem;
$font-52: 6.875rem;
$font-53: 7rem;